<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module dist:instant="true" />
    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".activity.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.NormalActivity" />
        <activity android:name=".activity.FMActivity" />
        <activity android:name=".activity.GroupActivity" />
        <activity android:name=".activity.AutowiredActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.InterceptorActivity" />
        <activity android:name=".activity.TransitionActivity" />
        <activity android:name=".activity.MakeAnimActivity" />
        <activity android:name=".activity.ServiceActivity" />

        <service android:name=".service.NormalService" />
    </application>

</manifest>